<%= flash[:error] %>
<%= flash[:notice] %>
<form action="login" method="post">
	<p>Username:<input type="text" name="email" /></p>
	<p>Password:<input type="password" name="password" /></p>
	<p>Remember Me: <input type="checkbox" name="remember_me" /></p>
	<p><input type="submit" name="Submit" /></p>
</form>
